@import "tailwindcss";

body{
  padding: 0px 10px ;
  font-size: 20px;
  background-color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

#scroll::-webkit-scrollbar{
  display: none;
}

#addNote{
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

#addNote:active{
  background: gray;
}
