@import "tailwindcss";

/* 
*{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #000;
  font-family: "Rubik";
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
} */

body{
  background: #000;
  font-family: "Inter";
  color: white;
}


#TaskListContainer::-webkit-scrollbar{
  display: none;
}


#CreateTaskContainer::-webkit-scrollbar{
  display: none;
}


@media (max-width: 640px){
  #form{
    flex-direction: column;
  }

  #inputTitle{
    width: 100%;
  }

  #inputDesc{
    width: 100%;
    height: 140px;
  }

  #TaskListContainer{
    flex-direction: column;
    justify-content: center;
  }

  #TaskDescContainer{
    width: 100%;
  }

  #TaskListNumbers{
    width: 100%;
    flex-wrap: wrap;
  }

  #TaskListSubNumbers{
    width: 48%;
  }

  #LoginContainer{
    width: 85%;
  }
}
